[submodule "src/third_party/simdjson"]
	path = src/third_party/simdjson
	url = https://github.com/simdjson/simdjson.git
	branch = v4.6.4
[submodule "src/third_party/vulkan-header"]
	path = src/third_party/vulkan-header
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "src/third_party/fmt"]
	path = src/third_party/fmt
	url = https://github.com/fmtlib/fmt
	branch = 12.1.0
[submodule "src/third_party/uchardet"]
	path = src/third_party/uchardet
	url = https://gitlab.freedesktop.org/uchardet/uchardet
